*{
  margin: 0;
  padding:0;
}
body{
  display:flex;
  align-items: center;
  justify-content: center;
  font-family: Montserrat, sans-serif;
  gap: 2rem;
  min-height: 100%;
  background-color: #343F4F;
}
/*style counter*/
#counter{
  width: 800px;
  height:400px;
  box-shadow: 0px 0px 50px 0px rgba(0,0,0,0.4);
  background-color: #e52b50;
  display:flex;
  align-items: flex-end;
  justify-content: center;
  position:absolute;
  border-radius: 20px;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
}
/*style buttons*/
button{
  width: 200px;
  height: 100px;
  font-weight: bold;
  outline:none;
  border:none;
  background-color: white;
  display:flex;
  align-items: center;
  justify-content: center;
  font-size:60px;
  margin:0 50px;
  box-shadow: 0px 0px 40px 0px rgba(0,0,0,0.3);
  cursor:pointer;
  transition:all 0.4s ease-in-out;
  border-radius: 12px;
  margin-bottom: 40px;
}
button:hover{
  transform: scale(1.02);
}
button:active{
  background-color: #cccccc;
}
/* style span */
span{
  position:absolute;
  width:180px;
  height:160px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size:60px;
  font-weight: bold;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.3);
  overflow: hidden;
  margin-bottom: 200px;
  border-radius: 20px;
}
 
footer{
  color:#cccccc;
  text-align: center;
  position: fixed; 
  justify-content: center;
  bottom:0;
  margin-bottom:150px;
}

